.indices {
  color: #000 !important;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;

    h2 {
      font-weight: 500;
      font-size: 26px;
      padding-bottom: 10px;
    }

    p {
      padding-bottom: 10px;
    }

    button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__start {
    font-size: 24px;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;

    span {
      color: #23b249;
    }
  }
}

.error {
  color: red;
  font-size: 24px;
}
