.main {
  &__unauthorized {
    background-image: url('https://finnhub.io/static/img/webp/finnhub-wave.webp') !important;
    background-size: cover;
    background-position: right;
    height: 93.7vh;
    padding-top: 200px;
    padding-left: 15vw;

    &-text {
      h1 {
        font-size: 50px;
        font-weight: 400;
      }

      h2 {
        font-weight: 400;
        padding-top: 15px;
      }
    }

    &-buttons {
      padding-top: 20px;

      a {
        display: inline;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
