.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  padding-top: 9px !important;
  padding-bottom: 9px !important;

  a {
    padding: 7px 25px !important;
    display: inline-block;
    background-color: #2e2e2e;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #595959;
    }
  }

  &__auth {
    a {
      &:last-child {
        border-left: 1px solid #828282;
      }
    }
  }
}
